@import "tailwindcss";

@layer base {
  body {
    background-color: #0F172A;
    @apply text-white antialiased;
  }

  /* Improve text rendering */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}